<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_main.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_body.css' %}"/>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body class="align_new_client">
<div class="container_client_content">
    <form method="POST" class="container_new_client" action="/{{id_user}}/deals/{{id_client}}">
        {% csrf_token %}
        <div class="deal_client_label"><label>ФИО клиента: {{ client }}</label></div>
        <div>
            <div class="deal_client_label"><label>Покупаемый курс:</label></div>
            <div class="deal_client_input">{{ formDeal.service }}</div>
        </div>
        <div>
            <a type="button" class='buttons_a' href="/{{id_user}}/0">Отмена</a>
            <input type="submit" class="buttons_btn" value="Добавить"/>
        </div>
    </form>
</div>
</body>
</html>