<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_main.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_body.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_header.css' %}"/>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <div class="header_info">
        <div class="div_info">{{ user_view }}</div>
    </div>
    <div class="statistics_header_btn">
        <a href="/{{id_user}}/statistics" class="buttons_a">Статистика</a>
        <a href="/{{id_user}}/0" class="buttons_a">Работа с клиентами</a>
        <a href="/{{id_user}}/services/0" class="buttons_a">Работа с услугами</a>
        <a href="/{{id_user}}/employees/0" class="buttons_a">Работа с сотрудниками</a>
        <a href="/" class="buttons_a">Выход</a>
    </div>
</header>
<main>
    <p class="img_align">
        {% load static %}
        <img src="{% static 'img/diagram.png'%}">
    </p>
</main>
</body>
</html>