<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_main.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_body.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_header.css' %}"/>

    {% load static %}
    <script src="{% static 'scripts/startForms.js'%}"></script>
    {% load static %}
    <script src="{% static 'scripts/updateClient.js'%}"></script>

    <title>{{ title }}</title>

</head>
<body>
<header class="header">
    <form method="POST">
        {% csrf_token %}
        <div>
            {{ formSearch }}
            <input type="submit" class="buttons_btn" value="Поиск"/>
        </div>
    </form>
    <div class="container_header_btn">
        <a href="/{{id_user}}/statistics" class="buttons_a">Статистика</a>
        <a href="/{{id_user}}/0" class="buttons_a">Работа с клиентами</a>
        <a href="/{{id_user}}/services/0" class="buttons_a">Работа с услугами</a>
        <a href="/{{id_user}}/employees/0" class="buttons_a">Работа с сотрудниками</a>
        <a href="/{{id_user}}/services/newService" class="buttons_a">Новая услуга</a>
        <a href="/" class="buttons_a">Выход</a>
    </div>
</header>
<main>
    {% for key, i in forms.items %}
    <div class="container_client_content">
        <div class="container_client">
            <p>Название услуги: {{ i.name_services.value}}</p>
            <a type="button" class='buttons_a' href="/{{id_user}}/services/delete/{{key}}">Удалить</a>
            <button type="button" class="trigger buttons_btn">Подробнее</button>
        </div>
        <div class="content">
            <div class="content_client">
                <form id="{{key}}" method="post" class="form_client container_new_client"
                      action="/{{id_user}}/services/{{key}}">
                    {% csrf_token %}
                    <div>
                        <div class="service_client_label"><label>Название курса:</label></div>
                        <div class="field_client_input">{{ i.name_services }}</div>
                    </div>
                    <div>
                        <div class="service_client_label"><label>Длительность (мин):</label></div>
                        <div class="field_client_input">{{ i.service_duration }}</div>
                    </div>
                    <div>
                        <div class="service_client_label"><label>Стоимость:</label></div>
                        <div class="field_client_input">{{ i.price }}</div>
                    </div>
                    <div>
                        <div class="service_client_label"><label>Описание курса:</label></div>
                        <div class="field_client_input">{{ i.description }}</div>
                    </div>
                    <input id="btnHidden{{key}}" type="submit" class="buttons_btn" value="Сохранить">
                </form>
                <script>startForms('{{key}}', 'btnHidden{{key}}')</script>
            </div>
            <div class="container_buttons_clients">
                <button id="updateClient/{{ key }}" type="button" class="buttons_btn"
                        onclick="changeClick({{ key }}, 'updateClient/{{ key }}', 'btnHidden{{key}}')">Изменить
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% load static %}
    <script src="{% static 'scripts/index.js'%}"></script>
</main>
</body>
</html>