<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_main.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_body.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_header.css' %}"/>

    {% load static %}
    <script src="{% static 'scripts/startForms.js'%}"></script>
    {% load static %}
    <script src="{% static 'scripts/updateClient.js'%}"></script>

    <title>{{ title }}</title>

</head>
<body>
<header>
    <div class="header_info">
        <div class="div_info">{{ user_view }}</div>
    </div>
    <div class="header">
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ formSearch }}
                <input type="submit" class="buttons_btn" value="Поиск"/>
            </div>
        </form>
        <div class="container_header_btn">
            <a href="/{{id_user}}/statistics" class="buttons_a">Статистика</a>
            <a href="/{{id_user}}/0" class="buttons_a">Работа с клиентами</a>
            <a href="/{{id_user}}/services/0" class="buttons_a">Работа с услугами</a>
            <a href="/{{id_user}}/employees/0" class="buttons_a">Работа с сотрудниками</a>
            <a href="/{{id_user}}/newClient" class="buttons_a">Новый клиент</a>
            <a href="/" class="buttons_a">Выход</a>
        </div>
    </div>
</header>
<main>
    {% for key, i in forms.items %}
    <div class="container_client_content">
        <div class="container_client">
            <p>ФИО: {{ i.0.last_name.value}} {{ i.0.first_name.value }} {{ i.0.full_name.value }}</p>
            <a type="button" class='buttons_a' href="/{{id_user}}/delete/{{key}}">Удалить</a>
            <button type="button" class="trigger buttons_btn">Подробнее</button>
        </div>
        <div class="content">
            <div class="content_client">
                <form id="{{key}}" method="post" class="form_client container_new_client" action="/{{id_user}}/{{key}}">
                    {% csrf_token %}
                    <div>
                        <div class="field_client_label"><label>Фамилия:</label></div>
                        <div class="field_client_input">{{ i.0.last_name }}</div>
                    </div>
                    <div>
                        <div class="field_client_label"><label>Имя:</label></div>
                        <div class="field_client_input">{{ i.0.first_name }}</div>
                    </div>
                    <div>
                        <div class="field_client_label"><label>Отчество:</label></div>
                        <div class="field_client_input">{{ i.0.full_name }}</div>
                    </div>
                    <div>
                        <div class="field_client_label"><label>Пол:</label></div>
                        <div class="field_client_input">{{ i.0.gender }}</div>
                    </div>
                    <div>
                        <div class="field_client_label"><label>Контактный телефон:</label></div>
                        <div class="field_client_input">{{ i.0.phone }}</div>
                    </div>
                    <div>
                        <div class="field_client_label"><label>Почта:</label></div>
                        <div class="field_client_input">{{ i.0.mail }}</div>
                    </div>
                    <div>
                        <div class="field_client_label"><label>Примечание:</label></div>
                        <div class="field_client_input">{{ i.0.remark }}</div>
                    </div>
                    <input id="btnHidden{{key}}" type="submit" class="buttons_btn" value="Сохранить">
                </form>
                <script>startForms('{{key}}', 'btnHidden{{key}}')</script>
                <div class="purchase_history">
                    <div>История покупок:</div>

                    {% for j in i.1 %}
                    <p>{{ j }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="container_buttons_clients">
                <button id="updateClient/{{ key }}" type="button" class="buttons_btn"
                        onclick="changeClick({{ key }}, 'updateClient/{{ key }}', 'btnHidden{{key}}')">Изменить
                </button>
                <a href="/{{id_user}}/deals/{{key}}" class='buttons_a'>Покупка услуги</a>
                <a href="/{{id_user}}/deals/delete/{{key}}" class='buttons_a'>Очистить покупки</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% load static %}
    <script src="{% static 'scripts/index.js'%}"></script>
</main>
</body>
</html>