<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_main.css' %}"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/for_body.css' %}"/>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body class="align_new_client">
<div class="container_client_content">
    <p class="client_message">{{ message }}</p>
    <form method="post" class="container_new_client" action="/{{id_user}}/mail_confirmation">
        {% csrf_token %}
        <div>
            <div class="field_client_label"><label>Фамилия:</label></div>
            <div class="field_client_input">{{ forms.last_name }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Имя:</label></div>
            <div class="field_client_input">{{ forms.first_name }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Отчество:</label></div>
            <div class="field_client_input">{{ forms.full_name }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Пол:</label></div>
            <div class="field_client_input">{{ forms.gender }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Телефон:</label></div>
            <div class="field_client_input">{{ forms.phone }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Почта:</label></div>
            <div class="field_client_input">{{ forms.mail }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Примечание:</label></div>
            <div class="field_client_input">{{ forms.remark }}</div>
        </div>
        <div>
            <div class="field_client_label"><label>Код подтверждения:</label></div>
            <div class="field_client_input">{{ forms.mail_confirmation }}</div>
        </div>
        <div>
            <a type="button" class='buttons_a' href="/{{id_user}}/0">Отмена</a>
            <input type="submit" class="buttons_btn" value="Добавить">
        </div>
    </form>
</div>
</body>
</html>